body{
    background-color: aqua;
}
div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1%;
    
}
    .content{
      width: 200;
      margin-left: auto;
    }
.content h2{
   text-align: center;
   padding: 5%;
}
.content button{
    background-color: blue;
    margin-left: 40%;
    
}